@charset "UTF-8";
div {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: blue;
    border: 1px solid white;
    display: inline-block;
}
div:hover {
    /*para animar quando passa o mouse por cima*/
    background-color: chartreuse;
}
